
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width:90%;
  margin:50px auto; 
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container2 {
  width:90%;
  margin:50px auto; 
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cont {
  border: 1px solid rgb(128, 128, 129);
  background-color: rgb(232, 235, 235);
  height: 40px;
  flex-basis: 25%;
  text-align: center;
  align-content: center;
  line-height: 40px;
  overflow: scroll;
}

.cont2 {
  border: 1px solid rgb(128, 128, 129);
  background-color: rgb(232, 235, 235);
  height: 40px;
  width: 100px;
  text-align: center;
  align-content: center;
  overflow: scroll;
}

.p1 {
  border: 1px solid rgb(128, 128, 129);
  background-color: rgb(232, 235, 235);
  height: 40px;
  flex-basis: 12.5%;
  text-align: center;
  align-content: center;
  line-height: 40px;
}
.p1:hover {
  cursor:pointer; 
}

.selected {
  background-color: rgb(207, 235, 235);
}
