
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
  width: 150px;
  height: 40px;
  position: relative;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: rgb(163, 170, 247);
  text-align: center;
}

a {
  width: 150px;
  height: 40px;
  position: relative;
  margin-left: 100px;
  background-color: rgb(181, 183, 207);
  text-align: center;
}

